{% extends "base.html" %}

{% block title %}{{ item.name }} - Professional Shop{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="item-details">
                <div class="item-name-bg">
                    <h1 class="item-name">{{ item.name }}</h1>
                </div>
                <img src="{{ item.image.url }}" alt="Item Image"
                    class="item-image">
            </div>
        </div>
        <div class="col-md-6">
            <div class="item-info">
                <div class="company-name">
                    <a href='/user/{{item.user.id}}'
                        class="card-text item-description"></a>
                </div>
                <div class="divider"></div>
                <div class="item-price">Rs {{ item.price }}</div>
                <div class="divider"></div>
                <form method="post">
                    {% csrf_token %}
                    {% if not item.user == request.user %}
                    <div class="buttons">
                        <button class="btn btn-warning" name="add">Add to Cart</button>
                        <button class="btn btn-outline-warning" name="buy">Order
                            Now</button>
                    </div>
                    {% else %}
                    <div class="buttons">
                        <button class="btn btn-warning" name="edit">Edit an
                            Offer</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="item-description-bg">
                <h3>Description:</h3>
                <p>{{ item.description }}</p>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="header" style="text-align: center; margin-top: 15px;">
    <h2>Not authenticated</h2>
    <a class="btn btn-warning btn-lg" href="/login/" role="button"
        style="margin-top: 15px;">Log In</a>
    <a class="btn btn-outline-warning btn-lg" href="/register/" role="button"
        style="margin-top: 15px;">Register</a>
</div>
{% endif %}

<style>
    .item-name-bg {
        background-color: #2b3035;
        padding: 10px;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    .item-name {
        font-size: 2rem;
        margin: 0;
    }

    .item-image {
        max-width: 100%;
        height: auto;
        margin-top: 15px;
    }


    .item-price {
        font-size: 2.5rem;
        color: greenyellow;
        text-align: center;
        margin-top: 10px;
    }

    .item-info {
        background-color: #2b3035;
        border-radius: 15px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        margin-top: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    .company-name {
        text-align: center;
        color: white;
        margin-top: 10px;
        font-size: 2.0rem;
    }

    .item-description-bg {
        background-color: #2b3035; /* Background color for description */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        color: white;
        margin-bottom: 25px;
    }

    .item-description {
        margin-top: 20px;
        line-height: 1.6;
        color: white;
    }

    .buttons {
        margin-bottom: 20px;
        display: flex;
        gap: 15px;
    }

    .buttons button {
        font-size: 1.2rem;
        width: 200px;
    }

    .divider {
        width: 80%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 10px auto;
    }

</style>
{% endblock %}